{% extends 'layout.html' %}
{% load static %}
<html lang="en">
<meta charset="UTF-8">
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">折线图</div>
            <div class="panel-body">
              图图图
            </div>
        </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
            <div class="panel-heading">柱状图</div>
            <div class="panel-body">
                <div class="panel-body">
                    <div id="m1" style="width:600px;height: 400px;"></div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
            <div class="panel-heading">饼图</div>
            <div class="panel-body">
              图图图
            </div>
        </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/echarts.js' %}"></script>
    <script type="text/javascript">

        $(function () {
            initBar();
        })
        /**
         * 初始化柱状图
         */
        function initbar(){
             // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('m1'));

      // 指定图表的配置项和数据
      var option = {
        title: {
          text: 'ECharts 入门示例',
          textAlign:"auto",
          left:"center",
        },
        tooltip: {},
        legend: {
          data: [/**'销量','业绩'**/]//后台获取
        },
        xAxis: {
          data: [/**'衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子'**/]//后台获取
        },
        yAxis: {},
        series: [//后台获取
          /**{
            name: '销量',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
          },
            {
            name: '业绩',
            type: 'bar',
            data: [15, 10, 18, 58, 40, 25]
            }**/
        ]
      };

      $.ajax({
          url:"/chart/bar/",
          type:"get",
          dataType:"JSON",
          success:function (res){
              //将后台返回的数据，更新到option中
                if(res.status){
                    option.legend.data=res.data.legend;
                    option.xAxis.data=res.data.x_axis;
                    option.series.data=res.data.series_list;
                    // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
                }
          }
      })

        }
    </script>
{%  endblock %}